
*.class

.review

src/jena/ConstructTest.java

src/jena/HelloRDFWorld.java

src/test/StoreManager.java

src/jena/TBLoader.java

src/jena/Remote.java

src/jena/ReadTDB.java

src/jena/ReadNT.java

data/amazonData/positive.review

data/amazonData/negative.review

data/amazonData/all.review

data/amazonData/processed.review

data/amazonData/processed.review.balanced

data/amazonData/unlabeled.review

*.dat

*.idn

*.jrnl

*.dat-jrnl

*.lock
